@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
$font-strict: 'Tenor Sans',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-playful: 'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Inter',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,700;0,800;0,900;1,100;1,400&display=swap');
$font-raleway: 'Raleway',
sans-serif;
$font-code: Consolas,
monaco,
monospace;
$transition: cubic-bezier(.8,
-0.27,
.2,
1.27);
$screen-huge: 1440px;
$screen-large: 1280px;
$screen-medium: 1024px;
$screen-small: 768px;
$screen-tiny: 600px;
$screen-phone: 400px;
@mixin text-gradient($gradient) {
    background: $gradient;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
}

@function cold-gray($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#F8FAFC,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F1F5F9,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E2E8F0,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#CBD5E1,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#94A3B8,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#64748B,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#475569,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#334155,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#1E293B,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#0F172A,
        $alpha);
    }
}

@function cool-gray($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#F9FAFB,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F3F4F6,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E5E7EB,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#D1D5DB,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#9CA3AF,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#6B7280,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#4B5563,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#374151,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#1F2937,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#111827,
        $alpha);
    }
}

@function gray($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FAFAFA,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F4F4F5,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E4E4E7,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#D4D4D8,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#A1A1AA,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#71717A,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#52525B,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#3F3F46,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#27272A,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#18181B,
        $alpha);
    }
}

@function true-gray($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FAFAFA,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F5F5F5,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E5E5E5,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#D4D4D4,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#A3A3A3,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#737373,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#525252,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#404040,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#262626,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#171717,
        $alpha);
    }
}

@function warm-gray($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FAFAF9,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F5F5F4,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E7E5E4,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#D6D3D1,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#A8A29E,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#78716C,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#57534E,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#44403C,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#292524,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#1C1917,
        $alpha);
    }
}

@function red($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FEF2F2,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FEE2E2,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FECACA,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#FCA5A5,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#F87171,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#EF4444,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#DC2626,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#B91C1C,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#991B1B,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#7F1D1D,
        $alpha);
    }
}

@function orange($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FFF7ED,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FFEDD5,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FED7AA,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#FDBA74,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#FB923C,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#F97316,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#D97706,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#B45309,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#92400E,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#78350F,
        $alpha);
    }
}

@function amber($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FFFBEB,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FEF3C7,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FDE68A,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#FCD34D,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#FBBF24,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#F59E0B,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#D97706,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#B45309,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#92400E,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#78350F,
        $alpha);
    }
}

@function yellow($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FEFCE8,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FEF9C3,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FEF08A,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#FDE047,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#FACC15,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#EAB308,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#CA8A04,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#A16207,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#854D0E,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#713F12,
        $alpha);
    }
}

@function lime($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#F7FEE7,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#ECFCCB,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#D9F99D,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#BEF264,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#A3E635,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#84CC16,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#65A30D,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#4D7C0F,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#3F6212,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#365314,
        $alpha);
    }
}

@function green($var: 5,
$alpha: 15) {
    @if $var==0 {
        @return rgba(#F0FDF4,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#DCFCE7,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#BBF7D0,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#86EFAC,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#4ADE80,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#22C55E,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#16A34A,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#15803D,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#166534,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#14532D,
        $alpha);
    }
}

@function emerald($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#ECFDF5,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#D1FAE5,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#A7F3D0,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#6EE7B7,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#34D399,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#10B981,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#059669,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#047857,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#065F46,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#064E3B,
        $alpha);
    }
}

@function teal($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#F0FDFA,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#CCFBF1,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#99F6E4,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#5EEAD4,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#2DD4BF,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#14B8A6,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#0D9488,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#0F766E,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#115E59,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#134E4A,
        $alpha);
    }
}

@function cyan($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#ECFEFF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#CFFAFE,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#A5F3FC,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#67E8F9,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#22D3EE,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#06B6D4,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#0891B2,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#0E7490,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#155E75,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#164E63,
        $alpha);
    }
}

@function sky($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#F0F9FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#E0F2FE,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#BAE6FD,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#7DD3FC,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#38BDF8,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#0EA5E9,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#0284C7,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#0369A1,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#075985,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#0C4A6E,
        $alpha);
    }
}

@function blue($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#EFF6FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#DBEAFE,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#BFDBFE,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#93C5FD,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#60A5FA,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#3B82F6,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#2563EB,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#1D4ED8,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#1E40AF,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#1E3A8A,
        $alpha);
    }
}

@function indigo($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#EEF2FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#E0E7FF,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#C7D2FE,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#A5B4FC,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#818CF8,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#6366F1,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#4F46E5,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#4338CA,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#3730A3,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#312E81,
        $alpha);
    }
}

@function violet($var: 5,
$alpha: 1 5) {
    @if $var==0 {
        @return rgba(#F5F3FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#EDE9FE,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#DDD6FE,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#C4B5FD,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#A78BFA,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#8B5CF6,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#7C3AED,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#6D28D9,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#5B21B6,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#4C1D95,
        $alpha);
    }
}

@function purple($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FAF5FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#F3E8FF,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#E9D5FF,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#D8B4FE,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#C084FC,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#A855F7,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#9333EA,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#7E22CE,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#6B21A8,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#581C87,
        $alpha);
    }
}

@function fuchsia($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FDF4FF,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FAE8FF,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#F5D0FE,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#F0ABFC,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#E879F9,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#D946EF,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#C026D3,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#A21CAF,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#86198F,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#701A75,
        $alpha);
    }
}

@function pink($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FDF2F8,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FCE7F3,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FBCFE8,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#F9A8D4,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#F472B6,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#EC4899,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#DB2777,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#BE185D,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#9D174D,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#831843,
        $alpha);
    }
}

@function rose($var: 5,
$alpha: 1) {
    @if $var==0 {
        @return rgba(#FFF1F2,
        $alpha);
    }
    @else if $var==1 {
        @return rgba(#FFE4E6,
        $alpha);
    }
    @else if $var==2 {
        @return rgba(#FECDD3,
        $alpha);
    }
    @else if $var==3 {
        @return rgba(#FDA4AF,
        $alpha);
    }
    @else if $var==4 {
        @return rgba(#FB7185,
        $alpha);
    }
    @else if $var==5 {
        @return rgba(#F43F5E,
        $alpha);
    }
    @else if $var==6 {
        @return rgba(#E11D48,
        $alpha);
    }
    @else if $var==7 {
        @return rgba(#BE123C,
        $alpha);
    }
    @else if $var==8 {
        @return rgba(#9F1239,
        $alpha);
    }
    @else if $var==9 {
        @return rgba(#881337,
        $alpha);
    }
}

@function red-after($var: 5,
$alpha: 1) {
    @return amber($var,
    $alpha);
}

@function orange-after($var: 5,
$alpha: 1) {
    @return yellow($var,
    $alpha);
}

@function amber-after($var: 5,
$alpha: 1) {
    @return yellow($var,
    $alpha);
}

@function yellow-after($var: 5,
$alpha: 1) {
    @return lime($var,
    $alpha);
}

@function lime-after($var: 5,
$alpha: 1) {
    @return emerald($var,
    $alpha);
}

@function green-after($var: 5,
$alpha: 1) {
    @return teal($var,
    $alpha);
}

@function emerald-after($var: 5,
$alpha: 1) {
    @return cyan($var,
    $alpha);
}

@function teal-after($var: 5,
$alpha: 1) {
    @return sky($var,
    $alpha);
}

@function cyan-after($var: 5,
$alpha: 1) {
    @return blue($var,
    $alpha);
}

@function sky-after($var: 5,
$alpha: 1) {
    @return indigo($var,
    $alpha);
}

@function blue-after($var: 5,
$alpha: 1) {
    @return violet($var,
    $alpha);
}

@function indigo-after($var: 5,
$alpha: 1) {
    @return purple($var,
    $alpha);
}

@function violet-after($var: 5,
$alpha: 1) {
    @return fuchsia($var,
    $alpha);
}

@function purple-after($var: 5,
$alpha: 1) {
    @return pink($var,
    $alpha);
}

@function fuchsia-after($var: 5,
$alpha: 1) {
    @return rose($var,
    $alpha);
}

@function pink-after($var: 5,
$alpha: 1) {
    @return red($var,
    $alpha);
}

@function rose-after($var: 5,
$alpha: 1) {
    @return orange($var,
    $alpha);
}

@function amber-before($var: 5,
$alpha: 1) {
    @return red($var,
    $alpha);
}

@function yellow-before($var: 5,
$alpha: 1) {
    @return orange($var,
    $alpha);
}

@function yellow-before($var: 5,
$alpha: 1) {
    @return amber($var,
    $alpha);
}

@function lime-before($var: 5,
$alpha: 1) {
    @return yellow($var,
    $alpha);
}

@function emerald-before($var: 5,
$alpha: 1) {
    @return lime($var,
    $alpha);
}

@function teal-before($var: 5,
$alpha: 1) {
    @return green($var,
    $alpha);
}

@function cyan-before($var: 5,
$alpha: 1) {
    @return emerald($var,
    $alpha);
}

@function sky-before($var: 5,
$alpha: 1) {
    @return teal($var,
    $alpha);
}

@function blue-before($var: 5,
$alpha: 1) {
    @return cyan($var,
    $alpha);
}

@function indigo-before($var: 5,
$alpha: 1) {
    @return sky($var,
    $alpha);
}

@function violet-before($var: 5,
$alpha: 1) {
    @return blue($var,
    $alpha);
}

@function purple-before($var: 5,
$alpha: 1) {
    @return indigo($var,
    $alpha);
}

@function fuchsia-before($var: 5,
$alpha: 1) {
    @return violet($var,
    $alpha);
}

@function pink-before($var: 5,
$alpha: 1) {
    @return purple($var,
    $alpha);
}

@function rose-before($var: 5,
$alpha: 1) {
    @return fuchsia($var,
    $alpha);
}

@function red-before($var: 5,
$alpha: 1) {
    @return pink($var,
    $alpha);
}

@function orange-before($var: 5,
$alpha: 1) {
    @return rose($var,
    $alpha);
}

@function shadow($i: 3) {
    @if $i==0 {
        @return 0px 0px 3px #0002;
    }
    @if $i==1 {
        @return 1px 1px 5px #0003;
    }
    @if $i==2 {
        @return 2px 1px 7px #0003;
    }
    @if $i==3 {
        @return 2px 2px 10px #0003;
    }
    @if $i==4 {
        @return 2px 3px 13px #0003;
    }
    @if $i==5 {
        @return 2px 4px 16px #0003;
    }
    @if $i==6 {
        @return 2px 5px 20px #0003;
    }
    @if $i==7 {
        @return 3px 5px 24px #0003;
    }
    @if $i==8 {
        @return 3px 7px 28px #0003;
    }
    @if $i==9 {
        @return 3px 9px 35px #0003;
    }
}

@function glow($color,
$size,
$int: 0.5) {
    @return 0 0 $size rgba($color,
    $int);
}

@function border($color,
$size,
$int: 0.5) {
    @return 0 0 0 $size rgba($color,
    $int);
}

@mixin full-flex {
    flex: 1;
}

@mixin content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin content-align($axis: row) {
    display: flex;
    @if $axis==row {
        align-items: center;
        flex-direction: row;
    }
    @if $axis==column {
        justify-content: center;
        flex-direction: column;
    }
    @if $axis==center {
        justify-content: center;
        align-items: center;
    }
}

@mixin container-full {
    width: 100%;
}

@mixin container-huge {
    width: 90%;
}

@mixin container-large {
    width: 75%;
    @media screen and (max-width: $screen-tiny) {
        width: 90%;
    }
}

@mixin container-medium {
    width: 50%;
    @media screen and (max-width: $screen-tiny) {
        width: 75%;
    }
    @media screen and (max-width: $screen-phone) {
        width: 90%;
    }
}

@mixin container-small {
    width: 35%;
    @media screen and (max-width: $screen-medium) {
        width: 45%;
    }
    @media screen and (max-width: $screen-tiny) {
        width: 75%;
    }
    @media screen and (max-width: $screen-phone) {
        width: 90%;
    }
}

@mixin constrain($min: 0,
$max: 100%) {
    max-width: $max;
    min-width: $min;
}

@mixin grid($n:12) {
    display: grid;
    grid-template-columns: repeat($n, 1fr);
}

@mixin grid-auto($min) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
}

@mixin span-h($n) {
    grid-row: span $n / auto;
}

@mixin span-v($n) {
    grid-column: span $n / auto;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    -ms-appearance: $value;
    -o-appearance: $value;
    appearance: $value;
}